* {
  box-sizing: border-box;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.points-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.container {
  border: none;
  box-shadow: 2px 2px 5px #6f6f6f;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
}

.game-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-container button {
  margin: 0.5rem;
}

.computer button {
  display: none;
}

.computer .active {
  display: block;
}

button {
  padding: 1rem;
  background-color: unset;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px #6f6f6f;
  border: none;
  transition: transform 0.5s ease;
}

img {
  width: 50px
}


button:active {
  transform: scale(0.95);
}

button:disabled {
  color: rgb(206, 206, 206);
  background-color: rgb(242, 242, 242);
}